:root {
--dark-cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);
--very-dark-blue: hsl(212, 21%, 14%);
--dark-grayish-blue: hsl(228, 12%, 48%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cream);
}

.card-wrapper {
    background-color: white;
    font-size: 0.875rem;
    max-width: 340px;
    margin: 1.563rem auto;
    border-radius: 0.625rem;
    overflow: hidden;
}

.product-photo {
    width: 100%;
}

.product-information {
    padding: 0.625rem 1.375rem 0.938rem 1.375rem;
}

.product-information > * {
    margin: 0.625rem 0;
}

.product-information p, s {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--dark-grayish-blue);
} 

.product-information h2, strong {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
}

.product-information h2 {
    color: var(--very-dark-blue);
    line-height: 2rem;
}

.product-information strong {
    color: var(--dark-cyan);
}

.product-kind {
    letter-spacing: 0.25rem;
}

.product-text {
    padding: 5px 0 0.625rem 0;
    line-height: 1.4rem;
}

.price-wrapper {
    padding-bottom: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.price-wrapper strong {
    padding-right: 1.25rem;
}

.add-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: var(--dark-cyan);
    color: white;
    width: 100%;
    padding: 0.938rem 0;
    cursor: pointer;
    border: none;
    border-radius: 0.438rem;
    display: flex;
    justify-content: center;
}

.add-button:hover {
    transition-duration: 0.4s;
    background-color: hsl(158, 36%, 20%);
}

.button-icon {
   margin-right: 0.625rem; 
}

@media (min-width: 900px) {
    .card-wrapper {
        max-width: 576px;
        height: 55%;
        display: flex;
        flex-wrap: row wrap;
        margin: 11rem auto;
    }

    .product-photo {
        height: 100%;
        flex: 0 0 50%;
    }

    .product-information {
        flex: 0 0 50%;
        padding: 0 1.875rem;
    }

    .product-information > * {
        margin: 1.25rem 0;
    }

    .product-information h2, strong {
        font-size: 2.2rem;
    }  
    
    .product-information h2 {
        line-height: 2.2rem;
    }

    .product-kind {
        padding-top: 0.625rem;
        letter-spacing: 0.3rem;
    }

    .product-text {
        padding-right: 1.125rem;
    }

    .add-button {
        padding: 1.125rem 0;
    }
}
