:root {
--dark-cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);
--very-dark-blue: hsl(212, 21%, 14%);
--dark-grayish-blue: hsl(228, 12%, 48%);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cream);
}

.card-wrapper {
    background-color: white;
    width: 90%;
    margin: 25px auto;
    border-radius: 3%;
    overflow: hidden;
}

.product-photo {
    width: 100%;
}

.product-information {
    margin: 10px;
}

.product-information p, s {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grayish-blue);
} 

.product-information p {
    line-height: 20px;
}

.product-information h2, strong {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 36px;
}

.product-information h2 {
    color: var(--very-dark-blue);
}

.product-information strong {
    color: var(--dark-cyan);
}

.price-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.add-button {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-cyan);
    width: 100%;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}